.salary-container {
    margin-top: 60px;
    background-color:#cccccc;
    text-align: center;
    padding: 60px 10px 30px 10px;
}

.form-container {
    justify-content: center;
    display: flex;
    background-color:#cccccc;
    width:90%;
    padding:14px;
}

.select-container {
    position: relative;
    /*Don't really need this just for demo styling*/
    min-width: 200px;
    margin: 10px 40px 10px 5px;
    float:left;
}

select::-ms-expand {
    display: none;
}

.select-container:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */

    position: absolute;
    pointer-events: none;
}

.select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

#lookup {
--b: 3px; 
--s: .45em; 
--color: green;

padding: calc(.5em + var(--s)) calc(.9em + var(--s));
color: var(--color);
--_p: var(--s);
background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
transition: .3s linear, color 0s, background-color 0s;
outline: var(--b) solid #0000;
outline-offset: .6em;
font-size: 16px;
margin-top:14px;

border: 0;

user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

#lookup:hover,
#lookup:focus-visible{
--_p: 0px;
outline-color: var(--color);
outline-offset: .05em;
}

#lookup:active {
background: var(--color);
color: #fff;
}

canvas
{
    width: 100% !important;
    height: 100% !important;
}

#chart-container {
    align-items: center;
    display:block;
    position:relative;
    width:90%;
    height: 500px;
    margin:auto;
    padding:40px 0px;
}