.navbar {
    background-color:#cccccc;
    color:white;
    display: flex;
    padding:10px 0px;
}

.navbar > a {
    font-size: 20px;
    color:black;
    list-style-type:none;
    display:inline-block;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    width:15%;
    text-decoration: none;
}
.navbar > a:hover {
    font-weight: bold;
    color:black;
    background-color:lightslategrey;
    text-decoration: none;
}  

#footer {
    font-size: 18px;
    color:white;
    margin: 40px 0px 10px;
    padding:20px;
    background-color:lightslategrey;
    text-align: center;
}